@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --radius: 0.5rem;

  /* Color System */
  --white: #fff;
  --black: #000;
  --error: oklch(63.68% 0.2078 25.33);

  /* c2 colors */
  --amber-50: oklch(0.99 0.02 92.86);
  --amber-100: oklch(0.95 0.05 89.01);
  --amber-200: oklch(0.91 0.11 90.2);
  --amber-300: oklch(0.86 0.15 85.23);
  --amber-400: oklch(0.82 0.16 77.6);
  --amber-500: oklch(0.74 0.17 59.8);
  --amber-600: oklch(0.64 0.17 49.41);
  --amber-700: oklch(0.52 0.17 37.84);
  --amber-800: oklch(0.45 0.14 36.32);
  --amber-950: oklch(0.26 0.09 36.1);

  --lime-50: oklch(0.98 0.02 124);
  --lime-100: oklch(0.95 0.05 124.42);
  --lime-200: oklch(0.92 0.1 125.28);
  --lime-300: oklch(0.86 0.14 126.49);
  --lime-400: oklch(0.8 0.16 127.36);
  --lime-500: oklch(0.71 0.17 128.79);
  --lime-600: oklch(0.6 0.15 128.95);
  --lime-700: oklch(0.5 0.11 128.32);
  --lime-800: oklch(0.43 0.09 127.67);
  --lime-900: oklch(0.38 0.07 127.06);
  --lime-950: oklch(0.26 0.05 127.31);

  --sky-50: oklch(0.97 0.01 247.95);
  --sky-100: oklch(0.95 0.02 251.63);
  --sky-200: oklch(0.92 0.04 252.34);
  --sky-300: oklch(0.88 0.06 252.99);
  --sky-400: oklch(0.83 0.08 253.6);
  --sky-500: oklch(0.78 0.1 254.18);
  --sky-600: oklch(0.58 0.15 249.95);
  --sky-700: oklch(0.51 0.14 250.67);
  --sky-800: oklch(0.44 0.12 251.71);
  --sky-900: oklch(0.39 0.1 253.4);
  --sky-950: oklch(0.27 0.06 253.58);

  --purple-50: oklch(0.97 0.02 300);
  --purple-100: oklch(0.94 0.04 300);
  --purple-200: oklch(0.9 0.08 300);
  --purple-300: oklch(0.85 0.12 300);
  --purple-400: oklch(0.78 0.16 300);
  --purple-500: oklch(0.7 0.18 300);
  --purple-600: oklch(0.6 0.18 300);
  --purple-700: oklch(0.5 0.16 300);
  --purple-800: oklch(0.4 0.12 300);
  --purple-900: oklch(0.35 0.1 300);
  --purple-950: oklch(0.25 0.08 300);

  --stone-25: oklch(0.98 0 0);
  --stone-50: oklch(0.99 0 106.42);
  --stone-100: oklch(0.97 0 106.42);
  --stone-200: oklch(0.92 0 48.72);
  --stone-300: oklch(0.87 0 56.36);
  --stone-400: oklch(0.72 0.01 56.27);
  --stone-500: oklch(0.56 0.01 58.09);
  --stone-600: oklch(0.44 0.01 56.17);
  --stone-700: oklch(0.37 0.01 56.18);
  --stone-800: oklch(0.27 0.01 48.51);
  --stone-900: oklch(0.22 0.01 56.08);
  --stone-950: oklch(0.15 0 49.63);

  --slate-50: oklch(0.984 0.003 247.858);
  --slate-100: oklch(0.968 0.007 247.896);
  --slate-200: oklch(0.929 0.013 255.508);
  --slate-300: oklch(0.869 0.022 252.894);
  --slate-400: oklch(0.704 0.04 256.788);
  --slate-500: oklch(0.554 0.046 257.417);
  --slate-600: oklch(0.446 0.043 257.281);
  --slate-700: oklch(0.372 0.044 257.287);
  --slate-800: oklch(0.279 0.041 260.031);
  --slate-900: oklch(0.208 0.042 265.755);
  --slate-950: oklch(0.129 0.042 264.695);

  --rose-50: oklch(0.969 0.015 12.422);
  --rose-100: oklch(0.941 0.03 12.58);
  --rose-200: oklch(0.892 0.058 10.001);
  --rose-300: oklch(0.81 0.117 11.638);
  --rose-400: oklch(0.712 0.194 13.428);
  --rose-500: oklch(0.645 0.246 16.439);
  --rose-600: oklch(0.586 0.253 17.585);
  --rose-700: oklch(0.514 0.222 16.935);
  --rose-800: oklch(0.455 0.188 13.697);
  --rose-900: oklch(0.41 0.159 10.272);
  --rose-950: oklch(0.271 0.105 12.094);

  /* new odbm brand colors */
  --gold: oklch(0.82 0.16 77.6); /* #FAB432 */
  --stone: oklch(0.41 0.01 272.06); /* #58595B */
  --dark-blue: oklch(0.28 0.09 264.79); /* #173A64 */
  --donation-green: oklch(0.56 0.12 142.86); /* #69923E */
  --light-blue: oklch(0.71 0.11 249.76); /* #6DACDE */
  --poppy: oklch(0.61 0.19 31.78); /* #E84B25 */
  --light-stone: oklch(0.89 0.03 233.77); /* #D5E2E9 */
  --ecru: oklch(0.88 0.07 92.86); /* #E5DBB8 */
  --digital-text-stone: oklch(0.18 0 0); /* #222222 */
  --orange: oklch(0.9 0.08 72); /* #FFD6A4 */
  --card-shadow-color-start: rgb(12 10 9 / 0.05);
  --card-shadow-color-end: rgb(12 10 9 / 0%);
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  /* Fonts */
  --font-sans: "pt-sans-pro", system-ui, sans-serif;
  --font-serif:
    "pt-serif-pro", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  /* Reset tailwind v4 colors */
  --color-*: initial;

  /* Breakpoints */
  --breakpoint-3xl: 100rem;

  /* Shadow inner */
  --shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);

  /* Base Colors */
  --color-white: var(--white);
  --color-black: var(--black);
  --color-error: var(--error);

  /* c2 colors */
  --color-amber-50: var(--amber-50);
  --color-amber-100: var(--amber-100);
  --color-amber-200: var(--amber-200);
  --color-amber-300: var(--amber-300);
  --color-amber-400: var(--amber-400);
  --color-amber-500: var(--amber-500);
  --color-amber-600: var(--amber-600);
  --color-amber-700: var(--amber-700);
  --color-amber-800: var(--amber-800);
  --color-amber-950: var(--amber-950);
  --color-lime-50: var(--lime-50);
  --color-lime-100: var(--lime-100);
  --color-lime-200: var(--lime-200);
  --color-lime-300: var(--lime-300);
  --color-lime-400: var(--lime-400);
  --color-lime-500: var(--lime-500);
  --color-lime-600: var(--lime-600);
  --color-lime-700: var(--lime-700);
  --color-lime-800: var(--lime-800);
  --color-lime-900: var(--lime-900);
  --color-lime-950: var(--lime-950);
  --color-sky-50: var(--sky-50);
  --color-sky-100: var(--sky-100);
  --color-sky-200: var(--sky-200);
  --color-sky-300: var(--sky-300);
  --color-sky-400: var(--sky-400);
  --color-sky-500: var(--sky-500);
  --color-sky-600: var(--sky-600);
  --color-sky-700: var(--sky-700);
  --color-sky-800: var(--sky-800);
  --color-sky-900: var(--sky-900);
  --color-sky-950: var(--sky-950);
  --color-purple-50: var(--purple-50);
  --color-purple-100: var(--purple-100);
  --color-purple-200: var(--purple-200);
  --color-purple-300: var(--purple-300);
  --color-purple-400: var(--purple-400);
  --color-purple-500: var(--purple-500);
  --color-purple-600: var(--purple-600);
  --color-purple-700: var(--purple-700);
  --color-purple-800: var(--purple-800);
  --color-purple-900: var(--purple-900);
  --color-purple-950: var(--purple-950);
  --color-stone-25: var(--stone-25);
  --color-stone-50: var(--stone-50);
  --color-stone-100: var(--stone-100);
  --color-stone-200: var(--stone-200);
  --color-stone-300: var(--stone-300);
  --color-stone-400: var(--stone-400);
  --color-stone-500: var(--stone-500);
  --color-stone-600: var(--stone-600);
  --color-stone-700: var(--stone-700);
  --color-stone-800: var(--stone-800);
  --color-stone-900: var(--stone-900);
  --color-stone-950: var(--stone-950);
  --color-slate-50: var(--slate-50);
  --color-slate-100: var(--slate-100);
  --color-slate-200: var(--slate-200);
  --color-slate-300: var(--slate-300);
  --color-slate-400: var(--slate-400);
  --color-slate-500: var(--slate-500);
  --color-slate-600: var(--slate-600);
  --color-slate-700: var(--slate-700);
  --color-slate-800: var(--slate-800);
  --color-slate-900: var(--slate-900);
  --color-slate-950: var(--slate-950);
  --color-rose-50: var(--rose-50);
  --color-rose-100: var(--rose-100);
  --color-rose-200: var(--rose-200);
  --color-rose-300: var(--rose-300);
  --color-rose-400: var(--rose-400);
  --color-rose-500: var(--rose-500);
  --color-rose-600: var(--rose-600);
  --color-rose-700: var(--rose-700);
  --color-rose-800: var(--rose-800);
  --color-rose-900: var(--rose-900);
  --color-rose-950: var(--rose-950);

  /* odbm brand colors */
  --color-gold: var(--gold);
  --color-stone: var(--stone);
  --color-dark-blue: var(--dark-blue);
  --color-donation-green: var(--donation-green);
  --color-light-blue: var(--light-blue);
  --color-poppy: var(--poppy);
  --color-light-stone: var(--light-stone);
  --color-ecru: var(--ecru);
  --color-digital-text-stone: var(--digital-text-stone);
  --color-orange: var(--orange);

  /* shadcn colors */
  --color-background: var(--stone-100);
  --color-foreground: var(--digital-text-stone);
  --color-border: var(--stone-200);
  --color-ring: var(--black);
  --color-input: var(--stone-200);

  --color-card: var(--white);
  --color-card-grey: var(--card-shadow-color-start);
  --color-card-foreground: var(--black);
  --color-popover: var(--white);
  --color-popover-foreground: var(--black);

  --color-primary: var(--amber-400);
  --color-primary-foreground: var(--amber-950);
  --color-secondary: var(--sky-900);
  --color-secondary-foreground: var(--stone-50);
  --color-accent: var(--stone-100);
  --color-accent-foreground: var(--stone-900);
  --color-muted: var(--stone-100);
  --color-muted-foreground: var(--stone-500);
  --color-destructive: var(--error);
  --color-destructive-foreground: var(--stone-50);

  --color-sidebar: var(--stone-50);
  --color-sidebar-foreground: var(--stone-600);
  --color-sidebar-primary: var(--stone-800);
  --color-sidebar-primary-foreground: var(--stone-50);
  --color-sidebar-accent: var(--stone-100);
  --color-sidebar-accent-foreground: var(--stone-800);
  --color-sidebar-border: var(--stone-200);
  --color-sidebar-ring: var(--sky-400);

  /* Border radius; --radius is 0.5rem which is 8px at regular scale */
  --radius-sm: calc(var(--radius) - 4px); /* 4px */
  --radius-md: calc(var(--radius) - 2px); /* 6px */
  --radius-lg: var(--radius); /* 8px */
  --radius-xl: calc(var(--radius) + 4px); /* 12px */

  /* Custom Gradients */
  --amber-gradient: 180deg, var(--amber-100) 0%, var(--white) 20%;
  --amber-gradient-large: 180deg, var(--amber-100) 0%, var(--white) 80%;
  --orange-gradient: 180deg, var(--orange) 0%, var(--white) 20%;
  --orange-gradient-large: 180deg, var(--orange) 0%, var(--white) 80%;
  --sky-gradient: 180deg, #0f172a 0%, #1e293b 100%;
  --card-gradient:
    180deg, var(--card-shadow-color-start) 0%, var(--card-shadow-color-end) 100%;

  /* Custom Box Shadows */
  --inset-shadow-md: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);

  /* Add 8xl size */
  --spacing-8xl: 1376px;
}

@layer base {
  /* Tailwind v4 border color compatibility fix */
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--stone-200, currentColor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer components {
  p {
    font-size: var(--text-base);
  }

  h1,
  h2,
  h3,
  h5 {
    font-family: var(--font-serif);
  }

  h1 {
    @apply text-3xl sm:text-4xl md:text-5xl;
  }

  h2 {
    @apply text-2xl sm:text-3xl md:text-4xl;
  }

  h3 {
    @apply text-xl sm:text-2xl md:text-3xl;
  }

  h4 {
    @apply text-xs font-extrabold tracking-wide text-stone-900/60 uppercase;
  }

  h5 {
    @apply text-base sm:text-lg md:text-xl;
  }

  h6 {
    @apply text-base font-bold text-stone-600;
  }

  ul {
    @apply list-disc pl-5; /* Tailwind utility classes for a bulleted list with padding */
  }

  ol {
    @apply list-decimal pl-5; /* Tailwind utility classes for a numbered list with padding */
  }

  li {
    @apply text-foreground text-base; /* Tailwind utility classes for list item text */
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .grecaptcha-badge {
    visibility: hidden;
  }
}
